.titulo {display: inline-block; vertical-align:top; 
    font-size: 150px;
    border: outset; padding: 70px 20px 70px 20px;
    font-family: 'Gajraj One', cursive;
    font-family: 'Inconsolata', monospace;
    background-color: white;

}
.pie {position: static;
    bottom: 5px;
    left: 300px;
    color: black;
    border: solid;
    background-color: white;
    font-family: 'Gajraj One', cursive;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    
}
.botonuno {
    
    border: outset rgb(235, 62, 62);
    background-color: white;
    font-family: 'Gajraj One', cursive;
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
    color: black;
}
.botondos {
    
    border: outset rgb(235, 62, 62);
    background-color: white;
    font-family: 'Gajraj One', cursive;
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
    color: black;
}
.botontres {
    
    border: outset rgb(235, 62, 62);
    background-color: white;
    font-family: 'Gajraj One', cursive;
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
    color: black;
}
.botoncuatro {
    
    border: outset rgb(235, 62, 62);
    background-color: white;
    font-family: 'Gajraj One', cursive;
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
    color: black;
}
.botoncinco {
    
    border: outset rgb(235, 62, 62);
    background-color:  white;
    font-family: 'Gajraj One', cursive;
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
    color: black;
}
.botonseis {
    
    border: outset rgb(235, 62, 62);
    background-color: white;
    font-family: 'Gajraj One', cursive;
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
    color: black;
}
body { background-color:antiquewhite;}

.redes {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }
.redes a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }